<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>526493370558-s0uv110l0kfqna7s8o0d5jsa286beb9s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526493370558-s0uv110l0kfqna7s8o0d5jsa286beb9s</string>
	<key>API_KEY</key>
	<string>AIzaSyAwYM1LDzmXiH7YyqLsurwFBFdBacJXqyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>526493370558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hoitstudio.styx.vip</string>
	<key>PROJECT_ID</key>
	<string>styx-vip</string>
	<key>STORAGE_BUCKET</key>
	<string>styx-vip.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526493370558:ios:80ba6aeae532aeb487f6ef</string>
</dict>
</plist>